@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.section {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    max-height: unset;
}

.section .content {
    position: sticky;
}

.section .waves {
    width: 100%;
    position: absolute;
    /* left: 0; */
    top: 0;
}

.section.first {
    /* background: rgb(157, 153, 208); */
    background: rgb(102, 92, 112);
    color: #222;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.section.first .main {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.section.first .skills {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    max-width: 600px;
    flex-wrap: wrap;
    width: fit-content;
}

.section.first .skills .skill {
    font-size: 0.9em;
    background: #343144aa;
    color: #aab;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}


.section.first .skills .skill.maybe {
    background: #343144aa;
    color: #aaba;
}

.section.first .icon {
    aspect-ratio: 1 / 1;
    height: 5em;
    background: linear-gradient(45deg,rgba(198, 198, 198,40%),rgba(228, 228, 228,40%));
    border: 2px #eee5 solid;
    border-radius: 25%;
    padding: 0.25em;
}

.section.first .content {
    max-width: 500px;
    width: fit-content;
    font-size: 1.4em;
    letter-spacing: 1px;
}

.section.first .content .first {
    font-size: 1.1em;
    padding: 0 0em;
    color: #eee;
    letter-spacing: 0;
    font-weight: bold;
    /* color: rgb(74, 74, 135); */
}


.section.first .content .small {
    font-size: 0.5em;
}


.section.first .content .second {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.25em;
    /* padding: 0 0.5em; */
    color: #eeea;
}


.section .sel {
    color: rgb(74, 74, 135);
    font-weight: 500;
}

/* WHO AM I*/

.section.whoami .icon {
    aspect-ratio: 1 / 1;
    height: 5em;
    background: linear-gradient(45deg,rgba(198, 198, 198,40%),rgba(228, 228, 228,40%));
    border: 2px #eee5 solid;
    border-radius: 25%;
    padding: 0.25em;
}


.section.whoami .content {
    max-width: 500px;
    width: fit-content;
    font-size: 1em;
    letter-spacing: 1px;
}

.section.whoami .header {
    letter-spacing: 0;
    font-size: 1.5rem;
    font-weight: 500;
}


.section.whoami {
    background: #9fc69f;
    color: #222;
    /* color: #eeee; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* min-height: calc(100vh + 15vw); */
    justify-content: center;
    align-items: center;
}

.section.whoami .content {
    z-index: 10;
    padding: 1em;
    max-width: 600px;
    border-radius: 1em;
    background: #9fc69f;
}

.section.whoami .content .gapped{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section.whoami .content .it{
    font-style: italic;
    color: #222e;
}

.section.projects > .header {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.25em;
}

.section.projects {
    position: relative;
    background: url("assets/bg.svg") bottom no-repeat;
    min-height: 100vh;
    height: 100%;
    max-height: unset;
    background-size: cover;
    color: #eeee;
    padding: 1em;
}

.section.projects .projects {
    --width: 200px;
    --height: 400px;
    position: relative;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    grid-auto-flow: row;
}

.section.projects .projects .project {
    border: #eee5 2px solid;
    /* width: var(--height);
    height: var(--width); */
    /* height: var(--width); */
    aspect-ratio: 16 / 9;
    min-height: fit-content;
    height: 100%;
    /* max-height: 400px; */
    width: 400px;
    /* height: 200px; */
    position: relative;
    cursor: pointer;
}


.section.projects .projects .project .preview {
    aspect-ratio: 16 / 9;
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 90%;
    /* z-index: 1; */
}



.section.projects .projects .project .text{
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
}

.section.projects .projects .project::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #223c;
    transition: 250ms;
}

.section.projects .projects .project:hover::after {
    background: #0000;
}

.section.projects .projects .project:hover > .text {
    opacity: 0%;
}


.section.projects .projects .project .text .header{
    font-size: 1.25em;
    color: #eee;
    /* text-shadow: 3px 3px 5px #000e; */
    font-weight: 500;
    background: #0006;
    padding: 0.1em 0.5em;
}

.section.projects .projects .project .text .description {
    /* text-shadow: 3px 3px 4px #000; */
    background: #0004;
    padding: 0.1em 0.5em;
}


.section.whatcanido {
    overflow-y: auto;
    max-height: none;
    height: 100%;
    min-height: 100vh;
    background: #c6a19f;
}

.section.whatcanido .content {
    background: transparent;
    max-width: 800px;
}